/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style */
body{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.whale-section{
    width: 100%;
    height: 100%;
}

.current-page{
    color: #FCB72B;
}

.header{
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.humburger-icon{
    position: absolute;
    left: 2rem;
    top: 26px;
    cursor: pointer;
    transition: transform 1.5s, opacity 1.5s;
}


.close-icon{
    position: absolute;
    left: 2.05rem;
    top: 25px;
    cursor: pointer;
    opacity: 0;
    transition: transform 1.5s, opacity 1.5s;
    z-index: -1;
}

.header__menu{
    position: fixed;
    height: 100vh;
    top: 4rem;
    left: -20rem;
    width: 16rem;
    background-color: #333A44;
    padding: 4rem 2rem 5.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 2s;
}

.showMenu{
    left: 0;
}

.header__menu__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.header__menu__list li{
    list-style: none;
}

.header__menu__list li a{
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 700;
    color: #E5ECF4;
}

.btn-get-scootin{
    width: 100%;
    height: 3.3rem;
    background-color: #FCB72B;
    border: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.desktop{
    display: none;
}

.content__entry{
    height: 40.5rem;
    background-image: url(/starter-code/assets/images/home-hero-mobile.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 5.1rem 2rem 0 2rem;
    gap: 2rem;
}

.content__entry__slogan{
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 2.5rem;
    letter-spacing: -1.79px;
}

.content__entry__text{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    color: #fff;
}

.content__entry__btn{
    width: 11.25rem;
    height: 3.3rem;
    background-color: #FCB72B;
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.entry__line{
    position: absolute;
    left: -20rem;
    top: 33.4rem;
}

.content__benefits{
    margin: 7.5rem 0;
    height: 49.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
    padding: 0 2rem;
}

.content__benefits-block{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.content__benefits-block img{
    width: 56px;
    height: 56px;
}

.content__benefits-block h3{
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: #495567;
    font-weight: 700;
    letter-spacing: -0.89px;
}

.content__benefits-block p{
    color: #939caa;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5rem;
}

.content__explanation{
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}

.explanation__block__images{
    width: 100%;
    overflow: hidden;
}

.explanation__block{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    text-align: center;
}

.explanation__block__images{
    height: 311px;
}

.images__title{
    width: 311px;
    height: 311px;
    border-radius: 50%;
}


.images__left-down-arrfrst{
    position: relative;
    left: 32px;
    top: -9.4rem;
}

.explanation__block__text{
    display: flex;
    flex-direction: column;
    height: 20.68rem;
    gap: 2rem;
    text-align: center;
    align-items: center;
    padding: 0 2rem;
}

.explanation__block__text h3{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 32px;
    color: #495567;
    line-height: 32px;
    letter-spacing: -1.43px;
}

.explanation__block__text p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #939CAA;
}

.explanation__block__text button{
    width: 11.25rem;
    height: 3.3rem;
    border: none;
    background-color: #FCB72B;
    color: #FFF;
    font-family: 'Space Mono', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
}

.images__right-arr{
    position: relative;
    left: -12rem;
    top: -19.70rem;
}

.images__left-down-arr{
    position: relative;
    top: -19.7rem;
    left: 9rem;
}

.footer{
    margin-top: 8.75rem;
}

.footer__signup{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/starter-code/assets/patterns/semi-circles.svg),
    #495567;
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position-x: -1160px;
    background-position-y: bottom;
    text-align: center;
    gap: 2.5rem;
    padding: 0 2rem;
}

.footer__signup h2{
    font-family: 'Space Mono', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.43px;
    color: #fff;
}

.footer__signup__links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer__signup__links img{
    width: 7.1rem;
    height: 2.5rem;
    cursor: pointer;
}

.footer__links{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #333A44;
}

.footer__links__logo svg path{
    fill: #fff;
}

.footer__links__contact ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

.footer__links__contact ul li{
    list-style: none;
}

.footer__links__contact ul li a{
    text-decoration: none;
    color: #939CAA;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
}

.footer__links__social ul{
    display: flex;
    flex-direction: row;
    width: 7.5rem;
    justify-content: space-between;
    align-items: center;
}

.footer__links__social ul li{
    list-style: none;
}

.footer__links__social ul li a{
    text-decoration: none;
}

@media screen and (min-width: 480px) {
    .content__entry{
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 10rem 8rem 0 8rem;
        gap: 2rem;
    }
    
    .entry__line{
        left: -17.5rem;
    }
    
    .content__benefits{
        padding: 0 8rem;
    }
    
    
    .images__left-down-arrfrst{
        position: relative;
        left: 13rem;
        top: -9.4rem;
    }
    
    .explanation__block__text{
        padding: 0 8rem;
    }
    
    .images__left-down-arr{
        left: 20rem;
    }
    
    .footer__signup{
        padding: 0 8rem;
    }
}

@media screen and (min-width: 768px){
    .header{
        height: 6rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2.4rem 2.1rem;
        gap: 3.6rem;
    }
    
    .mobile{
        display: none;
    }
    
    .header__menu{
        position: static;
        height: 100%;
        width: 0;
        background: none;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header__logo{
        order: -1;
    }
    
    .header__menu__list{
        flex-direction: row;
        gap: 1.75rem;
    }
    
    .header__menu__list li a{
        font-size: 15px;
        line-height: 25px;
        font-weight: 700;
        color: #939CAA;
    }
    
    .btn-get-scootin{
        width: 11.25rem;
        height: 3.3rem;
        line-height: 25px;
    }
    
    .content__entry{
        height: 40.6rem;
        background: url(/starter-code/assets/patterns/white-circles.svg),
            url(/starter-code/assets/images/home-hero-tablet.jpg);
        background-position: 35rem 33.6rem, 100% ;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:  center;
        text-align: center;
        padding: 5.1rem 6rem 0 6rem;
        gap: 1.5rem;
    }
    
    .content__entry__slogan{
        font-family: 'Space Mono', monospace;
        font-size: 56px;
        font-weight: 700;
        color: #fff;
        line-height: 56px;
        letter-spacing: -2.5px;
    }
    
    .content__entry__text{
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: #fff;
    }
    
    .content__entry__btn{
        width: 11.25rem;
        height: 3.3rem;
        background-color: #FCB72B;
        color: #fff;
        font-family: 'Space Mono', monospace;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        border: none;
        cursor: pointer;
    }
    
    .entry__line{
        position: relative;
        left: -17.7rem;
        top: 1rem;
    }
    
    .content__benefits{
        margin: 0 0 11rem 0;
        height: 34rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2.5rem;
        text-align: left;
        padding: 7.5rem 6.06rem;
        background: url(/starter-code/assets/patterns/line-second.svg);
        background-position: 35rem 31.8rem, 0 0 ;
        background-size: 35%, cover;
        background-repeat: no-repeat;
        background-position-x: 8.5rem;
    }

    .content__benefits-block{
        display: flex;
        flex-direction: row;
        gap: 4.9rem;
    }
    
    .content__benefits-block img{
        width: 96px;
        height: 96px;
    }

    .content__benefits-block__text{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
    
    .content__benefits-block h3{
        font-family: 'Space Mono', monospace;
        font-size: 24px;
        color: #495567;
        font-weight: 700;
        letter-spacing: -1.07px;
        line-height: 28px;
    }
    
    .content__benefits-block p{
        color: #939caa;
        font-size: 15px;
        font-family: 'Lexend Deca', sans-serif;
        line-height: 25px;
    }
    
    .content__explanation{
        display: flex;
        flex-direction: column;
        gap: 7.5rem;
    }
    
    .explanation__block__images{
        width: 100%;
        overflow: hidden;
    }
    
    .explanation__block{
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        text-align: center;
    }
    
    .explanation__block__images{
        height: 445px;
        width: 100%;
    }

    .easy,
    .zero{
        background-image: url(/starter-code/assets/patterns/circle.svg);
        background-repeat: no-repeat;
        background-position: 673px;
    }

    .city{
        background-image: url(/starter-code/assets/patterns/circle.svg);
        background-repeat: no-repeat;
        background-position: -345px;
    }
    
    .images__title{
        width: 445px;
        height: 445px;
        border-radius: 50%;
    }
    
    
    .images__left-down-arrfrst{
        position: relative;
        left: 32px;
        top: -9.4rem;
    }
    
    .explanation__block__text{
        display: flex;
        flex-direction: column;
        height: 20.68rem;
        gap: 2.5rem;
        text-align: center;
        align-items: center;
        padding: 0 6.1rem;
    }
    
    .explanation__block__text h3{
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: 48px;
        color: #495567;
        line-height: 48px;
        letter-spacing: -2.14px;
        width: 457px;
    }
    
    .explanation__block__text p{
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        color: #939CAA;
    }
    
    .explanation__block__text button{
        width: 11.25rem;
        height: 3.3rem;
        border: none;
        background-color: #FCB72B;
        color: #FFF;
        font-family: 'Space Mono', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        cursor: pointer;
    }
    
    .images__right-arr{
        position: relative;
        left: -12rem;
        top: -19.70rem;
    }
    
    .images__left-down-arr{
        position: relative;
        top: -19.7rem;
        left: 9rem;
    }
    
    .footer{
        margin-top: 6.5rem;
    }
    
    .footer__signup{
        height: 18.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url(/starter-code/assets/patterns/semi-circles.svg),
        #495567;
        background-size: 1200px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        text-align: center;
        gap: 2.5rem;
        padding: 0 9.6rem;
    }
    
    .footer__signup h2{
        font-family: 'Space Mono', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2.14px;
        color: #fff;
    }
    
    .footer__signup__links{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    .footer__signup__links img{
        width: 7.1rem;
        height: 2.5rem;
        cursor: pointer;
    }
    
    .footer__links{
        padding: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        background-color: #333A44;
    }
    
    .footer__links__logo svg path{
        fill: #fff;
    }

    .footer__links__contact{
        margin-left: -7rem;
    }
    
    .footer__links__contact ul{
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 1rem;
    }
    
    .footer__links__contact ul li{
        list-style: none;
    }
    
    .footer__links__contact ul li a{
        text-decoration: none;
        color: #939CAA;
        font-family: "Space Mono", sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
    }
    
    .footer__links__social ul{
        display: flex;
        flex-direction: row;
        width: 7.5rem;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__links__social ul li{
        list-style: none;
    }
    
    .footer__links__social ul li a{
        text-decoration: none;
    }
}

@media screen and (min-width: 900px) {
    .content__entry{
        height: 40.6rem;
        background: url(/starter-code/assets/patterns/white-circles.svg),
            url(/starter-code/assets/images/home-hero-tablet.jpg);
        background-position: 35rem 31.8rem, center ;
        background-size: 35%, cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:  center;
        text-align: center;
        padding: 5.1rem 6rem 0 6rem;
        gap: 1.5rem;
    }
    
    .entry__line{
        position: relative;
        left: -21.8rem;
        top: 1rem;
    }
    
    .content__benefits{
        margin: 0 0 11rem 0;
        height: 34rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2.5rem;
        text-align: left;
        padding: 7.5rem 6.06rem;
        background-image: url(/starter-code/assets/patterns//line-second.svg);
        background-size: 15px 500px;
        background-repeat: no-repeat;
        background-position-x: 8.6rem;
    }

    .easy,
    .zero{
        background-image: url(/starter-code/assets/patterns/circle.svg);
        background-repeat: no-repeat;
        background-position: 770px;
    }

    .city{
        background-image: url(/starter-code/assets/patterns/circle.svg);
        background-repeat: no-repeat;
        background-position: -345px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .images__right-arr{
        position: relative;
        left: -15rem;
        top: -23rem;
    }
    
    .images__left-down-arr{
        position: relative;
        top: -25rem;
        left: 20rem;
    }
}

@media screen and (min-width: 1200px){
    .desktop{
        display: block;
    }

    .header{
        height: 6rem;
        padding: 2.5rem 10.5rem;
    }
    
    .header__menu__list li a:hover{
        color: #FCB72B;
    }
    
    .btn-get-scootin:hover{
        border: 3px solid #FCB72B;
        background-color: #fff;
        color: #FCB72B;
    }
    
    .content__entry{
        background-image: url(/starter-code/assets/images/home-hero-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        padding: 0 10.3rem 0 10.3rem;
        gap: 2.5rem;
    }

    .des-line{
        position: absolute;
        left: 0;
        margin-top: 1.2em;
    }

    .des-line .path{
        stroke: #fff;
    }
    
    .content__entry__slogan{
        width: 31.25rem;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
    }
    
    .content__entry__text{
        width: 25.3rem;
        margin-left: 6rem;
        line-height: 25px;
    }
    
    .content__entry__btn{
        margin-left: 6rem;
        line-height: 25px;
    }

    .content__entry__btn:hover{
        border: 2px solid #fcb321;
        background-color: hsla(40, 97%, 56%, 0) !important;
        color: #FCB72B;
    }
    
    .entry__line{
        position: absolute;
        left: 44rem;
        top: 27rem;
    }
    
    .content__benefits{
        background-image: url(/starter-code/assets/patterns/line-second.svg);
        background-size:  984px 100px;
        background-position-x: 0;
        background-position-y: 2.5rem;
        margin: 10rem 0;
        height: 18.1rem;
        width: 79.6rem;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 1.8rem;
        text-align: left;
        padding: 0 0 0 10.3rem;
    }
    
    .content__benefits-block{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        align-items: start;
    }
    
    
    .content__benefits-block img{
        width: 96px;
        height: 96px;
    }
    
    .content__benefits-block h3{
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07px;
    }
    
    .content__benefits-block p{
        width: 350px;
        line-height: 25px;
    }
    
    .content__explanation{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10rem;
    }

    .content__explanation .exp-left{
        position: absolute;
        margin-top: 37.8rem;
        left: 0;

    }

    .zero-block{
        margin-top: 37.8rem;
    }

    .explanation__block{
        display: flex;
        flex-direction: row;
        gap: 5rem;
        text-align: left;
        align-items: center;
        width: 79.6rem;
        height: 27.8rem;
    }
    
    .explanation__block__images{
        height: 445px;
        width: 1200px;
        padding-left: 10rem;
        order: 2;
    }
    
    .images__title{
        width: 445px;
        height: 445px;
        border-radius: 50%;
    }

    .images__left-down-arrfrst{
        position: relative;
        left: -8rem;
        top: -9.4rem;
    }
    
    .explanation__block__text{
        display: flex;
        flex-direction: column;
        height: 20.68rem;
        gap: 1.5rem;
        text-align: left;
        align-items: start;
        padding: 0 2rem;
        width: 27.8rem;
    }
    
    .explanation__block__text h3{
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14px;
    }
    
    .explanation__block__text button:hover{
        border: 3px solid #FCB72B;
        background-color: #fff;
        color: #FCB72B;
    }
    
    .images__right-arr{
        position: relative;
        left: -16.5rem;
        top: -27.70rem;
    }
    
    .images__left-down-arr{
        position: relative;
        top: -23.5rem;
        left: 15.5rem;
    }

    .easy,
    .zero{
        background-image: url(/starter-code/assets/patterns/circle.svg);
        background-repeat: no-repeat;
        background-position: 640px;
    }

    .city{
        order: -1 !important;
        background-image: url(/starter-code/assets/patterns/circle.svg);
        background-repeat: no-repeat;
        background-position: -345px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer{
        margin-top: 12.5rem;
    }
    
    .footer__signup{
        height: 24.75rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: url(/starter-code/assets/patterns/semi-circles.svg),
        #495567;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: 14rem;
        background-position-y: bottom;
        text-align: left;
        gap: 2.5rem;
        padding: 0 10.3rem;
    }
    
    .footer__signup h2{
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14px;
        color: #fff;
        width: 25.9rem;
    }
    
    .footer__signup__links{
        display: flex;
        flex-direction: row;
        gap: 1.1rem;
    }
    
    .footer__signup__links img{
        width: 9.9rem;
        height: 3.5rem;
        cursor: pointer;
    }
    
    .footer__links{
        height: 6rem;
        padding: 0 10.6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer__links__logo svg path{
        fill: #fff;
    }
    
    .footer__links__contact ul{
        margin-left: -19rem;
        flex-direction: row;
        text-align: center;
        gap: 1.75rem;
    }
    
    .footer__links__contact ul li a:hover{
        color: #FCB72B;
    }
    
    .footer__links__social ul li:hover a svg path{
        fill: #E5ECF4;
    }
}